.section-wrapper {
 margin-bottom: 56px;
}
.content-wrapper {
    display: flex;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.img img {
    width: 100%;
    height: auto;
}

.text__part-two {
    display: none;
}